In [228]:
import pandas as pd
import numpy as np

In [229]:
telecom = pd.read_csv('Invoice_20201220.csv', sep='|')
telecom

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,12345_GEO (0001BB),1300082549,01/01/2018,31/01/2018,2 447,"316,46"
1,12345_GEO (0001BB),1300082549,01/02/2018,28/02/2018,2 211,"286,82"
2,12345_GEO (0001BB),1300082549,01/03/2018,31/03/2018,2 450,"317,32"
3,12345_GEO (0001BB),1300082549,01/04/2018,30/04/2018,2 431,"315,00"
4,12345_GEO (0001BB),1300082549,01/05/2018,31/05/2018,2 574,"333,37"
...,...,...,...,...,...,...
51427,19767_GEO (0632KO),FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18"
51428,19767_GEO (0632KO),055100058,01/01/2020,31/03/2020,2 163,"283,57"
51429,19767_GEO (0632KO),055100113,01/04/2020,30/06/2020,2 160,"312,55"
51430,19767_GEO (0632KO),055100168,01/07/2020,30/09/2020,2 230,"294,07"
51431,19883_GEO (1203KO),7220278453,27/09/2019,31/12/2019,4 745,"681,96"

In [230]:
telecom[['SITE_NAME','SITE2']] = telecom['SITE_NAME'].str.split('(',expand=True)

In [231]:
telecom

,SITE_NAME,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR,SITE2
0,12345_GEO,1300082549,01/01/2018,31/01/2018,2 447,"316,46",0001BB)
1,12345_GEO,1300082549,01/02/2018,28/02/2018,2 211,"286,82",0001BB)
2,12345_GEO,1300082549,01/03/2018,31/03/2018,2 450,"317,32",0001BB)
3,12345_GEO,1300082549,01/04/2018,30/04/2018,2 431,"315,00",0001BB)
4,12345_GEO,1300082549,01/05/2018,31/05/2018,2 574,"333,37",0001BB)
...,...,...,...,...,...,...,...
51427,19767_GEO,FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18",0632KO)
51428,19767_GEO,055100058,01/01/2020,31/03/2020,2 163,"283,57",0632KO)
51429,19767_GEO,055100113,01/04/2020,30/06/2020,2 160,"312,55",0632KO)
51430,19767_GEO,055100168,01/07/2020,30/09/2020,2 230,"294,07",0632KO)
51431,19883_GEO,7220278453,27/09/2019,31/12/2019,4 745,"681,96",1203KO)

In [232]:
#cette partie sert Ã  faire quelques arrangements sur les colonnes : modifier les noms et l'ordre
telecom = telecom[['SITE_NAME', 'SITE2', 'INVOICE_NAME', 'BEGIN', 'END', 'KWH_PERIOD', 'PERIOD_EUR']]
telecom.rename(columns = {'SITE_NAME':'SITE_ID', 'SITE2':'ANTENNA_ID'}, inplace = True)
cols = list(telecom.columns.values) #pour vÃ©rifier les changements sur les colonnes
cols

['SITE_ID',
 'ANTENNA_ID',
 'INVOICE_NAME',
 'BEGIN',
 'END',
 'KWH_PERIOD',
 'PERIOD_EUR']

In [233]:
def clean_string(string):
        string = string[:-1]
        return string

    
telecom['ANTENNA_ID'] = telecom['ANTENNA_ID'].apply(clean_string)
telecom

,SITE_ID,ANTENNA_ID,INVOICE_NAME,BEGIN,END,KWH_PERIOD,PERIOD_EUR
0,12345_GEO,0001BB,1300082549,01/01/2018,31/01/2018,2 447,"316,46"
1,12345_GEO,0001BB,1300082549,01/02/2018,28/02/2018,2 211,"286,82"
2,12345_GEO,0001BB,1300082549,01/03/2018,31/03/2018,2 450,"317,32"
3,12345_GEO,0001BB,1300082549,01/04/2018,30/04/2018,2 431,"315,00"
4,12345_GEO,0001BB,1300082549,01/05/2018,31/05/2018,2 574,"333,37"
...,...,...,...,...,...,...,...
51427,19767_GEO,0632KO,FV1/055100030,30/08/2019,31/12/2019,3 028,"397,18"
51428,19767_GEO,0632KO,055100058,01/01/2020,31/03/2020,2 163,"283,57"
51429,19767_GEO,0632KO,055100113,01/04/2020,30/06/2020,2 160,"312,55"
51430,19767_GEO,0632KO,055100168,01/07/2020,30/09/2020,2 230,"294,07"
51431,19883_GEO,1203KO,7220278453,27/09/2019,31/12/2019,4 745,"681,96"

In [234]:
telecom[telecom['ANTENNA_ID'].map(len) < 7]

#def check (code):
    bool(code) and code[-1].isdigit()

#check(telecom['ANTENNA_ID'])

IndentationError: unexpected indent (Temp/ipykernel_9108/934640563.py, line 4)

In [235]:
telecom = telecom.drop(columns = ['INVOICE_NAME'])
cols

['SITE_ID',
 'ANTENNA_ID',
 'INVOICE_NAME',
 'BEGIN',
 'END',
 'KWH_PERIOD',
 'PERIOD_EUR']

In [236]:
telecom.insert(5, "Nombre_jours", " ")
cols
telecom

,SITE_ID,ANTENNA_ID,BEGIN,END,KWH_PERIOD,Nombre_jours,PERIOD_EUR
0,12345_GEO,0001BB,01/01/2018,31/01/2018,2 447,,"316,46"
1,12345_GEO,0001BB,01/02/2018,28/02/2018,2 211,,"286,82"
2,12345_GEO,0001BB,01/03/2018,31/03/2018,2 450,,"317,32"
3,12345_GEO,0001BB,01/04/2018,30/04/2018,2 431,,"315,00"
4,12345_GEO,0001BB,01/05/2018,31/05/2018,2 574,,"333,37"
...,...,...,...,...,...,...,...
51427,19767_GEO,0632KO,30/08/2019,31/12/2019,3 028,,"397,18"
51428,19767_GEO,0632KO,01/01/2020,31/03/2020,2 163,,"283,57"
51429,19767_GEO,0632KO,01/04/2020,30/06/2020,2 160,,"312,55"
51430,19767_GEO,0632KO,01/07/2020,30/09/2020,2 230,,"294,07"
51431,19883_GEO,1203KO,27/09/2019,31/12/2019,4 745,,"681,96"

In [237]:
telecom['BEGIN'] = telecom['BEGIN'].str.replace("/",", ")
telecom['END'] = telecom['END'].str.replace("/",", ")
def jours(debut,fin):
    import datetime
    born = datetime.date(debut)
    today = datetime.date(fin)
    diff = today - born
    print(diff.total_seconds())
jours(telecom['BEGIN'], telecom['END'])

TypeError: cannot convert the series to <class 'int'>

In [240]:
def difference_dates(debut, fin):
    from datetime import datetime
    x = datetime.now(debut)
    y = datetime.now(fin)
    delta = y - x
    return delta 
telecom['daysPeriod'] = telecom['BEGIN'],telecom['END'].apply(difference_dates)
telecom

TypeError: difference_dates() missing 1 required positional argument: 'fin'

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_9108/1754425168.py, line 5)

In [154]:
def check (code):
    bool(code) and code[-1].isdigit()

check(telecom['ANTENNA_ID'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [243]:
telecom.to_csv('datacleaner.csv' , index=False)